# To enable smtp email delivery for your GitLab instance do next:
# 1. Rename this file to smtp_settings.rb
# 2. Edit settings inside this file
# 3. Restart GitLab instance
#
if Rails.env.production?
  Gitlab::Application.config.action_mailer.delivery_method = :smtp

  ActionMailer::Base.smtp_settings = {
    address: "<%= @address %>",
    port: <%= @port %>,<% if @username.nil? -%>
    user_name: "<%= @username %>",<% end -%><% if @password.nil? -%>
    password: "<%= @password %>",<% end -%>
    domain: "<%= @domain %>",
    authentication: :<%= @authentication %>,
    enable_starttls_auto: <%= @enable_starttls_auto %>
  }
end
